body {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 25px;
    text-align: justify;
}

span {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.width {
    width: 50%;
    padding-left: 8%;
}

.width-2nd {
    width: 50%;
    padding-right: 8%;
}

.width-moon {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}

.width img {
    width: 60%;
}

.kkk {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, gold);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 7px;
}

.uks-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.uks-2 {
    background-image: url(images/middle.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 25%;

}